.Header{
    z-index: 2000;
	width: 100%;
    height: 50px;
    position: absolute;
}
#Menu{
    width: 50px;
	position: fixed;
	margin-left: 50px;
	margin-top: 30px;
}

#MenuIcon{
    height: 30px;
    width: 100%;
	cursor: pointer;
}

#Logo{
    color: white;
    height: 50px;
    margin-left: 50px;
    margin-top: 30px;
    font-family: quicksand;
    cursor: pointer;
    margin-right: 50px;
    float: right;
}